*.pyc
.idea/
.gitconfig
.project
.pydevproject
.directory
.vscode

# Remove this shit
metabutler/__pycache__
metabutler/modules/__pycache__
metabutler/modules/helper_funcs/__pycache__
metabutler/modules/sql/__pycache__

# Also remove this too
.bash_history
.bash_logout
.bashrc
.cloud-locale-test.skip
.profile
.pgpass
.python_history
backupdb
hourly_backupdb
*-metabutler.backup

# Remove some configs
metabutler/config.py
metabutler/antispam.py
